.card {
    background-color: var(--card-bg);
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s;
    flex: 1 1 220px;
    max-width: 300px;
    height: 200px;
}

.card:hover{
    transform: translateY(-2px);
    border-color: var(--accent);
}

.card h3 {
    margin-top: 0;
    font-size: 1.1em;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

button:not(.red-button):not(.action-btn) {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    transition: all 0.2s;
    white-space: nowrap;
}

button:not(.red-button):not(.action-btn):hover {
    background-color: var(--accent);
    color: var(--bg-color);
}

button:not(.red-button):not(.action-btn):active {
    transform: scale(0.95);
}

button.red-button {
    height: 100px;
    width: 100px;
    border: none;
    padding: 15px;
    background-color: #d8192d;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 0 7px 0 #9a2323, 0 10px 10px rgba(0,0,0,0.2);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.red-button:hover {
    background-color: #d6435c;
    transform: translateY(-4px);
    box-shadow: 0 9px 0 #9a2323, 0 20px 25px rgba(0,0,0,0.3);
}

button.red-button:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #9a2323,0 0 0 rgba(0,0,0,0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { opacity: 0; width: 0; height: 0; }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider { background-color: var(--accent); }

input:checked + .slider:before { transform: translateX(26px); }

.eye-socket {
    position: relative;
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pupil {
    position: relative;
    font-size: 25px;
    color: var(--accent);
    transition: transform 0.1s ease-out;
    line-height: 1;
}

.eyelid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #333;
    z-index: 10;
    transition: height 0.1s ease-in-out;
}

.eyelid.closed {
    height: 100%;
}

