.playground {
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;
    flex: 1;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
}

.dashboard-header {
    width: 100%;
}

#results {
    position: sticky;
    top: 20px;
    width: 400px;
    height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--card-bg);
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
}
#messages {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: auto;
    flex: 1;
    width: calc(100% - 20px);
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--bg-color);
    scroll-behavior: smooth;
    padding: 10px 10px 10px 0px;
    margin: 10px;
}
#messages > .message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}

#messages > .message:not(:first-child) {
    padding-top: 20px;
}

#messages > .message:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

#fake_input__container{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    width: calc(100% - 20px);
}

#fake_input {
    position: relative;
    display: inline;
    color: var(--accent);
    padding-right: 12px;
}

#fake_input:after{
    position: absolute;
    content: '_';
    color: var(--accent);
    right: 0;
    animation:opacity .3s linear infinite alternate;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.action-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: .9em;
    opacity: 0.3;
    transition: opacity 0.2s, transform 0.1s;
    filter: grayscale(1);
    align-self: flex-end;
}

.message:hover .action-btn {
    opacity: 1;
    filter: grayscale(0);
}

.message:hover .action-btn:hover {
    transform: scale(1.2);
}

.action-btn:active {
    transform: scale(0.9);
}
