@media (max-width: 900px) {
    .playground {
        flex-direction: column-reverse;
        align-items: center;
        overflow-y: auto;
        gap: 20px;
    }

    .dashboard {
        width: 100%;
        max-width: 100%;
        overflow-y: visible;
        margin-bottom: 20px;
    }


    .dashboard-header {
        display: none;
    }

    #results {
        width: 100%;
        max-width: 100%;
        height: 400px;
        position: relative;
        top: 0;
    }

    body {
        padding: 10px;
    }

    .mobile-header {
        display: block;
    }
}


@media (max-width: 900px) {
    .card {
        width: 100%;
        max-width: unset;
    }
}
